.container {
  border: 1px solid black;
  width: 500px;
  height: 200px;
}

.over {
  background-image: url('https://image.freepik.com/vector-gratis/patron-transparente-vector-flor-adorno-floral-antiguo-lujo-clasico-textura-fluida-fondos-pantalla-textiles-envoltura_1217-2128.jpg');
}
