.main__projects {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: 1px solid red;
  text-align: center;

  &__item {
    display: block;
    max-width: 500px;
    margin-left: 15px;
    z-index: 999;
    position: relative;

    &__name {
      margin-top: 0;
      margin-bottom: 30px;
      text-align: center;
      font-size: rem(40);
      font-family: $font-secondary;
      line-height: 0.9em;
    }

    &__img {
      position: absolute;
      z-index: 1;
      width: 400px;
      top: 50%;

      & img {
        width: 100%;
      }
    }
  }
}
