.main__projects {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  color: $color-light;

  &__img {
    width: 400px;
    top: 50%;
    position: absolute;
    z-index: 999;

    & img {
      width: 100%;
    }
  }

  &__item {
    max-width: 500px;

    &__name {
      margin-top: 0;
      margin-bottom: 15px;
      text-align: center;
      font-size: rem(40);
      font-family: $font-main;
      line-height: 0.9em;

      &:hover {
        background: linear-gradient(
          to right,
          #fff 0%,
          #fcdf1a 20%,
          #fe950d 40%,
          #f84770 60%,
          #fff 80%
        );
        background-size: 200% auto;

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: shine 3s linear infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }
      }

      @include media($tablet) {
        font-size: rem(50);
      }
    }
  }
}
