.main__project {
  font-family: $font-projects;
  color: $color-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(20);
  text-align: center;

  & h3,
  h4 {
    padding: 0 10px 0 10px;
    margin-right: 20px;
    font-family: $font-titles;
    font-size: rem(50);
    background: -webkit-linear-gradient(#fcdf1a, #fe950d, #f84770);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & p {
    padding: 0 20px 0 20px;

    @include media($tablet) {
      padding: 0 40px 0 40px;
    }
  }

  &__info {
    text-align: center;
  }

  &__tags {
    text-align: center;
    @include media($tablet) {
      display: flex;
      align-content: space-around;

      &__item {
        margin: 0 10px 0 10px;
      }
    }
  }

  &__links {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;

    & .icon {
      font-size: rem(20);
      margin-right: 10px;
    }
  }

  &__goals {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    justify-items: center;

    @include media($tablet) {
      text-align: left;
      padding: 0 25px 0 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;

    & .icon {
      font-size: rem(18);
      margin: 0 10px 0 10px;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    &__wrapper {
      width: 325px;

      @include media($tablet) {
        width: 600px;
      }

      & img {
        width: 100%;
      }
    }
  }
}

.background-change {
  background-color: $color-light;
}
