//breakpoints
$tablet: 768px;
$desktop: 1024px;

//colors
$color-dark: black;
$color-light: white;

//fonts
$font-main: 'Mirage Bold', serif;
$font-secondary: 'Altero Regular', sans-serif;
$font-outline: 'Altero Outline', sans-serif;
$font-titles: 'Mirage Black', serif;
